div#widgetgauze
div
	h="Manual Picking Widget"
	img#closebutton(
		src="img/close.png"
		onclick="manualpickingwidget.hide()"
	)

div(id='leftside')
	table
		tr
			td="Micrograph"
			td
				select#micrographlist
					each micrograph in micrographs
						option(
							onclick="manualpickingwidget.changeMicrograph('" + micrograph['path'] + "','" + micrograph['xdim'] + "','" + micrograph['ydim'] + "','" + micrograph['name'] +"')"
						)=micrograph['name']
	
			td
				p#partNo

	canvas#pickingcanvas(
		width="500" 
		height="500" 
		style="border:2px solid black"
		onclick="manualpickingwidget.clickHandler2(event)"
	)

	button(
		type="button"
		id="prev"
		onclick="manualpickingwidget.prevMicrograph(event)"
	) Previous
	button(
		type="button"
		id="next"
		onclick="manualpickingwidget.nextMicrograph(event)"
	) Next

div(id='rightside')
	div.inputpage
		table
			tr
				td="Particle Radius"
				td
					input(
						id="manualpickradius"
						type="number"
						onchange="manualpickingwidget.plotCoordinates()"
						value=90
					)
				td
					input(
						type='checkbox'
						id='showcircle'
						checked='true'
						onchange="manualpickingwidget.plotCoordinates()"
					)
					| Show particle radius
			tr
				td="Box Size"
				td
					input(
						id="manualpickboxsize"
						type="number"
						onchange="manualpickingwidget.plotCoordinates()"
						value=320
					)
				td
					input(
						type='checkbox'
						id='showbox'
						checked='true'
						onchange="manualpickingwidget.plotCoordinates()"
					)
					| Show box

	input(
		type='checkbox'
		id='showcontours'
		checked='true'
	)
	| Auto Centering

	p#currentPartCount

	p#totalPartCount

	p#partFound

	canvas#particlecanvas

button(
	type="button"
	id="done"
	onclick="manualpickingwidget.donePicking(event)"
) Done
