div#widgetgauze
div
	h="Guinier Plot Widget"
	img#closebutton(
		src="img/close.png"
		onclick="guinierplotwidget.hide()"
	)

div.inputpage
	table
		tr
			td="Volume"
			td
				input(
					id="guiniervolume"
					type="text"
				)
		tr
			td="Sampling Distance"
			td
				input(
					id="guiniersmpd"
					type="text"
				)
		tr
			td="High Pass"
			td
				input(
					id="guinierhp"
					type="text"
				)
		tr
			td="Low Pass"
			td
				input(
					id="guinierlp"
					type="text"
				)

div#guinierchart

div#guinierbfac

div.buttons
	button(
		onclick="guinierplotwidget.calculate()"
	)="Calculate"
