- var index = 0
div.thumbnails
	while index < thumbcount
		if(status)
			div.thumbnail(
				onclick="viewer.toggleSelect(this); simple.sumParticles2D('cavgs')"
				data-class=cavgarray[index]['class']
				data-pop=cavgarray[index]['pop']
				data-res=cavgarray[index]['res']
				data-selected="true"
				title="class : " + cavgarray[index]['class'] + ', resolution : ' + cavgarray[index]['res'] + ", population : "  + cavgarray[index]['pop']
			)
				div.dynimgcontainer
					img.dynimg(
						data-path=path
						data-frame=index
					)
					img.viewptcls(
						src="../img/eye.png"
						onclick="event.stopPropagation(); simple.viewParticles2D('" + cavgarray[index]['class'] + "','" + projectfile + "')"
					)
		else
			div.thumbnail
				div.dynimgcontainer
					img.dynimg(
						data-path=path
						data-frame=index
					)
		- index++

div.scrollmenu#save
	h="Save"
	input#savefolder(
		type="hidden"
		value=folder
	)
	input#saveprojectfile(
		type="hidden"
		value=projectfile
	)
	div
		label(
			for="savefilename"
		)="Filename"
		input#savefilename(
			type="text"
			placeholder="e.g. selected_classes.simple"
		)
	button(
		onclick="simple.save2DSelection()"
	)="Save"
	
div.scrollmenu#plot
	h="Plot"
	select#plottype(
		onchange="simple.plot2D('cavgs')"
	)
		option(
			value="classvpop"
		)="Class vs Population"
		option(
			value="classvres"
		)="Class vs Resolution"
		option(
			value="resvpop"
		)="Resolution vs Population"
	label(
		for="ymax"
	)="Y Axis Maximum"
	input#ymax(
		type="number",
		value=1000,
		min=0,
		max=100000,
		onchange="simple.plot2D('cavgs')"
	)
	div#chart

div.scrollmenu#select
	h="Select"
	div
		label(
			for="selectattribute"
		)="Attribute"
		select#selectattribute
			option(
				value="class"
			)="Class Number"
			option(
				value="pop"
			)="Population"
			option(
				value="res"
			)="Resolution"
			option(
				value="corr"
			)="Correlation"
		label(
			for="selectoperator"
		)="Operator"
		select#selectoperator
			option(
				value="gt"
			)="Greater Than"
			option(
				value="lt"
			)="Less Than"
			option(
				value="eq"
			)="Equals"
		label(
			for="selectvalue"
		)="Value"
		input#selectvalue(
			type="text"
		)
	div
		label(
			for="selectappend"
		)="Append"
		input#selectappend(
			type="checkbox"
			)
	button(
		onclick="viewer.selectThumbnails()"
	)="Apply"

div.scrollmenu#sort
	h="Sort"
	div
		label(
			for="sortattribute"
		)="Attribute"
		select#sortattribute
			option(
				value="class"
			)="Class Number"
			option(
				value="pop"
			)="Population"
			option(
				value="res"
				selected
			)="Resolution"
			option(
				value="corr"
			)="Correlation"
	div
		label(
			for="sortorder"
		)="Order"
		select#sortorder
			option(
				value="ascending"
			)="Ascending"
			option(
				value="descending"
			)="Descending"
	button(
		onclick="viewer.sortThumbnails('cavgs')"
	)="Apply"

div.viewertoolbar
	div
		label(for='contrast') Contrast:
		input#contrast(
			type="range"
			min="0"
			max="200"
			step="1"
			value="100"
			oninput="viewer.modifyImages('cavgs')"
		)
	div
		label(for='brightness') Brightness:
		input#brightness(
			type="range"
			min="0"
			max="200"
			step="1"
			value="100"
			oninput="viewer.modifyImages('cavgs')"
		)
	div
		label(for='zoom') Zoom:
		input#zoom(
			type="range"
			min="0.2"
			max="2"
			step="0.1"
			value="1"
			oninput="viewer.modifyImages('cavgs')"
		)
	div
		label(for='scale') Scale:
		input#scale(
			type="range"
			min="50"
			max="400"
			step="10"
			value="200"
			onclick="viewer.scaleImages('cavgs')"
		)
	if(status)
		div
			img(
				src="../img/sort.png"
				onclick="viewer.toggleScrollMenu('cavgs', 'sort', this)"
				title="Sort"
			)

		div
			img(
				src="../img/select.png"
				onclick="viewer.toggleScrollMenu('cavgs', 'select', this)"
				title="Select"
			)

		div
			img(
				src="img/plot.png"
				onclick="viewer.toggleScrollMenu('cavgs', 'plot', this)"
				title="Plot"
			)

		div
			img(
				src="img/save.png"
				onclick="viewer.toggleScrollMenu('cavgs', 'save', this)"
				title="Save"
			)
