mixin header()

	if ui == "inferno"
		title INFERNO
	else if ui == "simple"
		title SIMPLE
	else if ui == "cosmic"
		title COSMIC
		
mixin style()

	if ui == "inferno"
		include cosmic.css
	else if ui == "simple"
		include simple.css
	else if ui == "cosmic"
		include cosmic.css
		
	include ../external/LiteMol/dist/css/LiteMol-plugin.min.css
	include landing.css
	include fileselector.css
	include taskselector.css
	include saveselector.css
	include newproject.css
	include viewer.css

doctype html
html
	head
		+header()
	style
		+style()
	body
		div#header
			img#headerimage
			div#headerbuttons
				button.headerbutton(
					onclick="project.show()"
				)="History"
				button.headerbutton(
					onclick="viewer.show()"
				)="View"
				button.headerbutton(
					onclick="taskmanager.show()"
				)="Task"
			
		include viewer.pug
		
		div#gauze
		div#fileselector
		div#taskselector
		div#saveselector
			div
				h="Save Selection"
				img#closebutton(
					src="img/close.png"
					onclick="saveselector.hide()"
				)
			div
				p.inputlabel="Folder"
				input#savefolder(type="text")
				img.folderselectbutton(
					src="img/folder.png"
					onclick="fileselector.target = 'savefolder'; fileselector.action = fileselector.setValue; fileselector.showFolder()"
				)
			div
				p.inputlabel="Filename"
				input#savefilename(type="text")
			div
				button#saveselection(
					onclick="saveselector.save()"
				)="Save"
		div#newproject
			div
				h="New Project"
				img#closebutton(
					src="img/close.png"
					onclick="project.hideNew()"
				)
			div
				p.inputlabel="Project Name"
				input#newprojectname(type="text")
			div
				p.inputlabel="Project Description"
				textarea#newprojectdescription
			div
				p.inputlabel="Folder"
				input#newprojectfolder(type="text")
				img.folderselectbutton(
					src="img/folder.png"
					onclick="fileselector.target = 'newprojectfolder'; fileselector.action = fileselector.setValue; fileselector.showFolder()"
				)
			div
				button#saveselection(
					onclick="project.createNew()"
				)="Create"
		div#toolbar
			div#projectdiv
				label(for='project') Project:
				select#project
			button#newprojectbutton(
				onclick="project.showNew()"
			)="New Project"
			div#targetdiv
				label(for='target') Target:
				select#target
			div#zoomdiv
				label(for='zoom') Zoom:
				input#zoom(
					type="range"
					min="0"
					max="2"
					step="0.1"
					value="1"
					oninput="viewer.updateVal(this.value, 'zoomval')"
				)
				input#zoomval(
					type="number"
					step="0.1"
					value="1"
				)
			div#scalediv
				label(for='scale') Scale:
				input#scale(
					type="range"
					min="0"
					max="400"
					step="1"
					value="200"
					oninput="viewer.updateVal(this.value, 'scaleval')"
				)
				input#scaleval(
					type="number"
					step="1"
					value="200"
				)
			div#contrastdiv
				label(for='contrast') Contrast:
				input#contrast(
					type="range"
					min="0"
					max="200"
					step="1"
					value="100"
					oninput="viewer.updateVal(this.value, 'contrastval')"
				)
				input#contrastval(
					type="number"
					value="100"
				)
			div#brightnessdiv
				label(for='brightness') Brightness:
				input#brightness(
					type="range"
					min="0"
					max="200"
					step="1"
					value="100"
					oninput="viewer.updateVal(this.value, 'brightnessval')"
				)
				input#brightnessval(
					type="number"
					value="100"
				)
			div#isoleveldiv
				label(for='isolevel') Sigma:
				input#isolevel(
					type="range"
					max="10"
					min="-10"
					step="0.1"
					value="0.0"
					oninput="viewer.updateVal(this.value, 'isolevelval')"
				)
				input#isolevelval(
					type="text"
					value="0.0"
				)
			button#savebutton(
				onclick="saveselector.show()"
			)="Save"
			
		script
			include ../external/LiteMol/dist/js/LiteMol-plugin.js
			include ../build/interface/ajax.js
			include ../build/interface/fileselector.js
			include ../build/interface/taskselector.js
			include ../build/interface/saveselector.js
			include ../build/interface/viewer.js
			include ../build/interface/taskmanager.js
			include ../build/interface/history.js
