if iterations
	select
		option="iter"
each thumb, index in thumbnails
	div.thumbnail(
		onclick="viewer.toggleThumbnail(this)"
		data-selected="true"
		data-identity=index
		)
		each image in thumb
			div.dynimgcontainer
				img.dynimg(
					data-path=image['file']
					data-frame=image['frame']
					alt="Loading ..."
					)
		
			
	
