div#widgetgauze
div
	h="Autopick Training Widget"
	img#closebutton(
		src="img/close.png"
		onclick="autopicktrainingwidget.hide()"
	)

div.inputpage
	table
		tr
			td="References"
			td
				input(
					id="autopickrefs"
					type="text"
					disabled
				)
		tr
			td="Distance Threshold"
			td
				input(
					id="autopickthreshold"
					type="text"
				)
		tr
			td="Quality"
			td
				input(
					id="autopickquality"
					type="text"
				)

select#micrographselector
	each val, index in mics
		option(
			value = index['text']
		)=val

canvas#micrographcanvas


div.buttons
	button(
		onclick="autopicktrainingwidget.pick()"
	)="Pick"
	button(
		onclick="autopicktrainingwidget.done()"
	)="Done"
