#view3dpane
	div#litemol
	
	div.viewertoolbar
		div
			label(for='sigma') Sigma:
			input#sigma(
				type="range"
				min="0"
				max="10"
				step="0.1"
				value="1"
				onchange="simple.updateIsoSurface(this.value)"
			)
		if final
			div
				button(
					onclick=""
				)="View Reprojections"
