div
	h="View CTF Fits"
	img#closebutton(
		src="img/close.png"
		onclick="viewer.hide()"
	)
	
div#fits
	div.thumbnails
		each fit in fits
			div.thumbnail(
				data-selected="true"
				data-dfx=fit[1]
				data-dfy=fit[2]
				data-angast=fit[3]
				onclick="viewer.toggleSelect(this)"
			)
				div.dynimgcontainer
					img.dynimg(
						data-path=fit[0]
						data-frame="0"
					)

	div.scrollmenu#save
		h="Save"
		input#savefolder(
			type="hidden"
			value=folder
				)
		input#saveprojectfile(
			type="hidden"
			value=projectfile
		)
		label(
			for="savefilename"
		)="Filename"
		input#savefilename(
			type="text"
			placeholder="e.g. selected_ctf.simple"
		)
		button(
			onclick="simple.saveMicsSelection()"
		)="Save"

	div.scrollmenu#plot
		h="Plot"
		label(
			for="plottype"
		)="Type"
		select#plottype
			option(
				value="mic:dfx:scatter"
			)="Micrograph vs X Defocus"
			option(
				value="mic:dfy:scatter"
			)="Micrograph vs Y Defocus"
			option(
				value="mic:angast:scatter"
			)="Micrograph vs Astigmatism Angle"
			option(
				value="dfx:dfy:scatter"
			)="X Defocus vs Y Defocus"
		button(
			onclick="simple.plot2Dptcls('fits')"
		)="Apply"
		div#ptcls2Dchart

	div.viewertoolbar
		div
			label(for='contrast') Contrast:
			input#contrast(
				type="range"
				min="0"
				max="200"
				step="1"
				value="100"
				oninput="viewer.modifyImages('fits')"
			)
		div
			label(for='brightness') Brightness:
			input#brightness(
				type="range"
				min="0"
				max="200"
				step="1"
				value="100"
				oninput="viewer.modifyImages('fits')"
			)
		div
			label(for='zoom') Zoom:
			input#zoom(
				type="range"
				min="0.2"
				max="2"
				step="0.1"
				value="1"
				oninput="viewer.modifyImages('fits')"
			)
		div
			label(for='scale') Scale:
			input#scale(
				type="range"
				min="50"
				max="400"
				step="10"
				value="200"
				onchange="viewer.scaleImages('fits')"
			)
		div
			img(
				src="img/plot.png"
				onclick="viewer.toggleScrollMenu('fits', 'plot')"
				title="Plot"
			)
		div
			img(
				src="img/save.png"
				onclick="viewer.toggleScrollMenu('fits', 'save')"
				title="Save"
			)


