div
	h="View 2D Clusters"
	img#closebutton(
		src="img/close.png"
		onclick="viewer.hide()"
	)

label(
	for="iterationselector"
)="Iteration"
select#iterationselector
	each iteration, index in iterations
		if (index == iterations.length - 1 && status == "Finished")
			option(
				onclick="simple.viewCavgs('" + folder + "/" + iteration + "', true)"
			)=index + 1
		else
			option(
				onclick="simple.viewCavgs('" + folder + "/" + iteration + "', false )"
			)=index + 1
label#particlecounter

div#cavgs

div#ptclsviewer

