mixin header()
	title="SIMPLE"

mixin style()
	link(
		href="css/index.css"
		rel="stylesheet"
		type="text/css"
		)

mixin viewheader()
	div#viewheader
		img#refreshimage(
			src="img/refresh.png"
			onclick="location.reload()"
		)
		img#headerimage(
			src="img/simple_logo_simple.png"
		)
		select#projectselector
mixin viewwindow()
	div#viewwindow

mixin viewfooter()
	div#viewfooter
		img(
			src="img/view.png"
			onclick="location.reload()"
		)
		img(
			src="img/task.png"
			onclick="location.reload()"
		)

mixin script()
	script(
		src="js/index.js"
	)
	script(
		src="https://unpkg.com/d3-contour@1"
	)
	script(
		src="https://unpkg.com/d3-geo@1"
	)
	script(
		src="https://unpkg.com/d3-timer@1"
	)
	script(
		src="https://unpkg.com/d3-polygon@1"
	)
	
doctype html
html
	head
		+header()
		+style()
	body
		div#view
			+viewheader()
			+viewwindow()
			+viewfooter()
		+script()
	
