mixin header()
	if ui == "simple"
		title="SIMPLE"
	else if ui == "cosmic"
		title="COSMIC"
	else
		title="INFERNO"

mixin style()
	link(
		href="css/index.css" 
		rel="stylesheet" 
		type="text/css"
		)

	if ui == "simple"
		link(
			href="css/simple.css" 
			rel="stylesheet" 
			type="text/css"
		)
	else if ui == "cosmic"
		link(
			href="css/cosmic.css" 
			rel="stylesheet" 
			type="text/css"
		)
	else 
		link(
			href="css/inferno.css" 
			rel="stylesheet" 
			type="text/css"
		)

mixin viewheader()
	div#header
		img#headerimage
		select#projectselector
		div#headerbuttons
		
mixin viewwindow()
	div#viewwindow
		div#viewwindowtitle
		div#viewwindowbody
		div#viewwindowtoolbar

mixin gauze()
	div#gauze

mixin popups()
	div#popup
	div#browserpopup

mixin script()
	script(
		src="js/index.js"
	)
	
doctype html
html
	head
		+header()
		+style()
	body
		+viewheader()
		+viewwindow()
		+gauze()
		+popups()
		+script()
	
