div
	h="File Selector"
	img#closebutton(
		src="img/close.png"
		onclick="fileselector.hide()"
	)

div
	p.inputlabel="Folder"
	input#sourcefolder(type="text" value=path)

table
	tr(
		onclick="fileselector.requestUp(\'" + path + "\')"
	)
		td
			img.folderimage(
				src="img/folder.png"
			)
		td=".."
	each folder in folders
		tr(
			onclick="fileselector.request(\'" + path + "/" + folder + "\')"
		)
			td
				img.folderimage(src="img/folder.png")
			td(
				data-path=path + "/" + folder
				style="width:100%"
			)=folder
			
	each file in files
		tr.filerow(
			onclick="fileselector.select(\'" + path + "/" + file + "\', this)"
		)
			td
			td(
				style="width:100%"
			)=file
		
div
	p.inputlabel="Filter"	
	input#filter(
		type="text"
		value=filter
	)

div#selectorbuttons
	button(onclick="viewer.viewer2DInit()")="View 2D"
	button(onclick="viewer.viewer3DInit()")="View 3D"
	button(onclick="fileselector.performAction()")="Select"
