mixin widget(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			data-key=key['key']
			type="text"
		)
	td
		img(
			src="img/widget.png"
			onclick=key['widget']
		)
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin folder(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			data-key=key['key']
			type="text"
		)
	td
		img(
			src="img/folder.png"
			onclick="browser.show({buttons : [{ name : 'select', action : 'tasksetup.setValue(\"key" + key['key'] + "\")'}], path : 'selectedfolder', gauze : true})"
		)
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin file(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			data-key=key['key']
			type="text"
		)
	td
		img(
			src="img/folder.png"
			onclick="browser.show({buttons : [{ name : 'select', action : 'tasksetup.setValue(\"key" + key['key'] + "\")'}], path : 'selectedfolder', gauze : true})"
		)
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin check(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			type="checkbox"
		)
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin text(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			type="text"
		)
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)
		
mixin number(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			type="text"
		)
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin binary(key)
	td=key['descr_short']
	td
		select.argument(
			id="key"+key['key']
		)
			option(
				selected
				value=""
			)=""
			option(
				value="true"
			)="True"
			option(
				value="false"
			)="False"
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin multi(key)
	td=key['descr_short']
	td
		select.argument(
			id="key"+key['key']
		)
			option(
				selected
				value=""
			)=""
			for opt in key['options']
				option(
					value=opt
				)=opt
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

div
	h="New Task - " + taskarray['moduletitle'] + " - " + taskarray['name']
	input#fnc(
		type="hidden"
		value=taskarray['executable']
	)
	input#mod(
		type="hidden"
		value=taskarray['modulename']
	)
	input#type(
		type="hidden"
		value=taskarray['name']
	)
	input#inputpath(
		type="hidden"
		value=taskarray['inputpath']
	)
	img#closebutton(
		src="img/close.png"
		onclick="taskselector.hide()"
	)

div.inputaccordion
	div.inputpage
		div.inputheader
			h="job parameters"
		table
			tr
				td="Job Name"
				td
					input(
						id="jobname"
						type="text"
						value="Starting from " + taskarray['inputpath']
					)
				td
				td
					img(
						src="img/help.png"
						onclick="taskselector.showHelp('Identifier for the job')"
					)
			tr
				td="Job Description"
				td
					input(
						id="jobdescription"
						type="text"
					)
				td
				td
					img(
						src="img/help.png"
						onclick="taskselector.showHelp('Description of the job')"
					)
			tr
				td="Input File"
				td
					input(
						id="inputpath"
						type="text"
						value=taskarray['inputpath']
						disabled
					)
				td
				td
					img(
						src="img/help.png"
						onclick="taskselector.showHelp('Input file')"
					)
	each page, index in taskarray['pages']
		- var advancedcount = 0
		- for (var key of page['keys']){ if(!key['required']){advancedcount++}}
		div.inputpage(
			id="inputpage" + index
		)
			div.inputheader(
					onclick="tasksetup.toggleAdvanced(this)"
				)
				h=page["title"]
				if advancedcount > 0
					img.advancedbutton(
						src="img/plus.png"
					)
			table
				each key in page['keys']
					if (key['required'])
						tr.required
							if key['keytype'] == "dir"
								+folder(key)
							else if key['keytype'] == "file"
								+file(key)
							else if key['keytype'] == "folder"
								+folder(key)
							else if key['keytype'] == "check"
								+check(key)
							else if key['keytype'] == "binary"
								+binary(key)
							else if key['keytype'] == "text" || key['keytype'] == "str"
								+text(key)
							else if key['keytype'] == "num"
								+number(key)
							else if key['keytype'] == "multi"
								+multi(key)
							else if key['keytype'] == "widget"
								+widget(key)
					else
						tr.advanced(
							style="display:none"
						)
							if key['keytype'] == "dir"
								+folder(key)
							else if key['keytype'] == "file"
								+file(key)
							else if key['keytype'] == "folder"
								+folder(key)
							else if key['keytype'] == "check"
								+check(key)
							else if key['keytype'] == "binary"
								+binary(key)
							else if key['keytype'] == "text" || key['keytype'] == "str"
								+text(key)
							else if key['keytype'] == "num"
								+number(key)
							else if key['keytype'] == "multi"
								+multi(key)
							else if key['keytype'] == "widget"
								+widget(key)

div.buttons
	button(
		onclick="tasksetup.startTask()"
	)="Start"
				
div#taskhelp
	div#taskgauze
	div.taskhelp
		h="Help"
		img#closebutton(
			src="img/close.png"
			onclick="taskselector.hideHelp()"
		)
			
		div#text

		div#selectorbuttons
			button(onclick="taskselector.hideHelp()")="OK"
