table
	tr
		td
			b="Id"
		td
			b="Type"
		td
			b="Status"
		td
			b="Name"
		td
			b="Actions"
	each task in history
		tr
			td=task['id']
			td=task['type']
			td(
				title="PID : " + task['pid']
			)=task['status']
			td(
				onclick="history2.showLog('" + task['folder'] + "')"
				title=task['description']
			)=task['name']
			td
				select
					option
					if(task['view'])
						option(
							onclick="history2.viewOutput('" + task['view'] + "','" + task['folder'] + "','" + task['status'] + "'); history2.resetActions(this)"
						)="View Output"
					option(
						onclick="browser.show({buttons : [{ name : 'view2d', action : 'viewer.view2d'}, { name : 'view3d', action : 'viewer.view3d'}], path : '" + task['folder'] + "', gauze : true}); history2.resetActions(this)"
					)="View Files"
					option(
						onclick="history2.rerunJob('" + task['arguments'] + "'); history2.resetActions(this)"
					)="ReRun"
					option(
						onclick="history2.resetActions(this)"
					)="Kill"
					option(
						onclick="history2.resetActions(this)"
					)="Delete"

