div
	h="Save Selection"
	img#closebutton(
		src="img/close.png"
		onclick="saveselector.hide()"
	)
div
	p.inputlabel="Folder"
	input#savefolder(type="text")
	img.folderselectbutton(
		src="img/folder.png"
		onclick="fileselector.target = 'savefolder'; fileselector.action = fileselector.setValue; fileselector.showFolder()"
	)
div
	p.inputlabel="Filename"
	input#savefilename(type="text")
div
	button#saveselection(
		onclick="saveselector.save()"
	)="Save"
