mixin folder(key)
  td=key['descr_short']
  td
    input.argument(
      id="key"+key['key']
      data-key=key['key']
      type="text"
    )
  td
    img.taskfoldericon(
      src="img/folder.png"
      onclick="browser.show({buttons : [{ name : 'select', action : 'tasksetup.setValue(\"key" + key['key'] + "\")'}], path : false, newfolder : true})"
    )
  td
    img(
      src="img/help.png"
      onclick="taskselector.showHelp('" + key['descr_long'] + "')"
    )

mixin text(key)
  td=key['descr_short']
  td
    input.argument(
      id="key"+key['key']
      type="text"
    )
  td
  td
    img(
      src="img/help.png"
      onclick="taskselector.showHelp('" + key['descr_long'] + "')"
    )

mixin textarea(key)
  td=key['descr_short']
  td
    textarea.argument(
      id="key"+key['key']
    )
  td
  td
    img(
      src="img/help.png"
      onclick="taskselector.showHelp('" + key['descr_long'] + "')"
    )

div.taskheader
  img#simplepagelogo(
    src="img/square_logo_small.png"
  )
  h#tasktitle="Create New Project"
  img#closebutton(
    src="img/close.png"
    onclick="taskselector.hide()"
  )

div.inputaccordion
  div.inputpage
    div.inputheader(
      onclick="tasksetup.toggleAdvanced(this)"
    )
      h="Project Information"
    table
      tr.required
        +text({
          "key": "name",
          "descr_short": "Project Name",
          "descr_long": "Name of the new project",
          "descr_placeholder": "e.g. betagalactosidase"
        })
      tr
        +textarea({
          "key": "description",
          "descr_short": "Project Description",
          "descr_long": "Description of the new project",
          "descr_placeholder": "e.g. processing of betagalactosidase data from Titan Krios",
          "required": false
        })
      tr.required
        +folder({
          "key": "folder",
          "descr_short": "Project Folder",
          "descr_long": "Folder to place output of tasks within",
          "descr_placeholder": "e.g. /home/joebloggs/betagal",
          "required": true
        })
div.buttons
  div(
    onclick="project.createProject()"
  )="Create"

div#taskhelp
  div#taskgauze
  div.taskhelp
    h="Help"
    img#closebutton(
      src="img/close.png"
      onclick="taskselector.hideHelp()"
    )

    div#text

    div#selectorbuttons
      button(onclick="taskselector.hideHelp()")="OK"
