div.viewheader
	img#simplepagelogo(
		src="img/square_logo_small.png"
	)
	h="Create Filetab"
	img#closebutton(
		src="img/close.png"
		onclick="filetabgeneratorwidget.hide()"
	)
	
div.inputpage
	table
		tr
			td="Folder"
			td
				input.argument#filetabfolder(
					type="text"
				)
			td
				img.taskfoldericon(
					src="img/folder.png"
					onclick="browser.show({buttons : [{ name : 'select', action : 'tasksetup.setValue(\"filetabfolder\")'}], path : 'selectedfolder', gauze : true})"
				)
			td
			td
		tr
			td="Filter"
			td
				input.argument#filetabfilter(
					type="text"
				)
			td
			td
			td
div.buttons
	div(
		onclick="filetabgeneratorwidget.search()"
	)="Search"	

div.filespage
	table#filestable
		each file in files
			tr
				td
					input.filecheck(
						type="checkbox"
						value=file
					)
				td=file
div.buttons
	div#selectall(
		onclick="filetabgeneratorwidget.selectAll()"
	)="Select All"

div.inputpage
	table
		tr
			td="Output Folder"
			td
				input.argument#filetaboutputfolder(
					type="text"
					value=projectfolder
				)
			td
				img.taskfoldericon(
					src="img/folder.png"
					onclick="browser.show({buttons : [{ name : 'select', action : 'tasksetup.setValue(\"filetaboutputfolder\")'}], path : 'selectedfolder', gauze : true})"
				)
			td
			td
		tr
			td="Filename"
			td
				input.argument#filetaboutputfilename(
					type="text"
					value='filetab.txt'
				)
			td
			td
			td
div.buttons
	div(
		onclick="filetabgeneratorwidget.save()"
	)="Generate Filetab"
