option="Select Project"
for project in projects
	option(
		data-history=project['history']
		data-name=project['name']
		data-folder=project['folder']
		data-description=project['description']
	)=project['name']
option(
	data-history="createproject"
)="Create Project"
