div.viewmaster
	h="Iteration"
	select#iterationselector(
		onchange="simpleview.getCluster2DIteration(this)"
	)
		each iteration in iterations
			option(
				data-file=iteration.file
				data-header=iteration.header
				data-stats=iteration.stats
			)=iteration.name
	h#particlecount.count
div#thumbnails
