div.viewmaster
	h="Particle Selection"
	div
		select#ptclselector
			each stat in stats
				option=stat
		select#ptcloperator
			option="gt"
			option="eq"
			option="lt"
		input#ptclvalue
	div.buttons
		div(
			onclick="simpleview.getStkParticles()"
		)="Show"
	h#particlecount.count
div#thumbnails
