mixin widget(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			data-key=key['key']
			type="text"
		)
	td
		img.widget(
			src="img/widget.png"
			onclick=key['widget']
		)
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin folder(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			data-key=key['key']
			type="text"
		)
	td
		img.taskfoldericon(
			src="img/folder.png"
			onclick="browser.show({buttons : [{ name : 'select', action : 'tasksetup.setValue(\"key" + key['key'] + "\")'}], path : 'selectedfolder', gauze : true})"
		)
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin file(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			data-key=key['key']
			type="text"
		)
	td
		img.taskfoldericon(
			src="img/folder.png"
			onclick="browser.show({buttons : [{ name : 'select', action : 'tasksetup.setValue(\"key" + key['key'] + "\")'}], path : 'selectedfolder', gauze : true})"
		)
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin check(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			type="checkbox"
		)
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin text(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			type="text"
		)
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)
		
mixin number(key)
	td=key['descr_short']
	td
		input.argument(
			id="key"+key['key']
			type="text"
		)
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin binary(key)
	td=key['descr_short']
	td
		select.argument(
			id="key"+key['key']
		)
			option(
				selected
				value=""
			)=""
			option(
				value="true"
			)="True"
			option(
				value="false"
			)="False"
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

mixin multi(key)
	td=key['descr_short']
	td
		select.argument(
			id="key"+key['key']
		)
			option(
				selected
				value=""
			)=""
			for opt in key['options']
				option(
					value=opt
				)=opt
	td
	td
		img(
			src="img/help.png"
			onclick="taskselector.showHelp('" + key['descr_long'] + "')"
		)

div.viewheader
	img#simplepagelogo(
		src="img/square_logo_small.png"
	)
	h="New Task - " + task['name']
	input#fnc(
		type="hidden"
		value=task['executable']
	)
	input#type(
		type="hidden"
		value=task['name']
	)
	img#closebutton(
		src="img/close.png"
		onclick="taskselector.hide()"
	)

div.inputaccordion
	div.inputpage
		div.inputheader(
			onclick="tasksetup.toggleAdvanced(this)"
		)
			h="job parameters"
			img.advancedbutton(
				src="img/plus.png"
			)
		table
			tr.advanced(
				style="display:none"
			)
				td="Job Name"
				td
					input(
						id="jobname"
						type="text"
					)
				td
				td
					img(
						src="img/help.png"
						onclick="taskselector.showHelp('Identifier for the job')"
					)
			tr.advanced(
				style="display:none"
			)
				td="Job Description"
				td
					input(
						id="jobdescription"
						type="text"
					)
				td
				td
					img(
						src="img/help.png"
						onclick="taskselector.showHelp('Description of the job')"
					)
			tr.required.bold
				td="Start From"
				td
					select#inputpath
						each input in inputs
							option(
								value=folder + "/" + input + "/" + name + ".simple"
							)=input
						option(
							value=folder + "/" + name + ".simple"
						)="start"
				td
				td
					img(
						src="img/help.png"
						onclick="taskselector.showHelp('Job starts from here')"
					)
	each page, index in task['pages']
		- var advancedcount = 0
		- for (var key of page['keys']){ if(!key['required']){advancedcount++}}
		div.inputpage(
			id="inputpage" + index
		)
			div.inputheader(
					onclick="tasksetup.toggleAdvanced(this)"
				)
				h=page["title"]
				if advancedcount > 0
					img.advancedbutton(
						src="img/plus.png"
					)
			table
				each key in page['keys']
					if (key['required'])
						tr.required.bold
							if key['keytype'] == "dir"
								+folder(key)
							else if key['keytype'] == "file"
								+file(key)
							else if key['keytype'] == "folder"
								+folder(key)
							else if key['keytype'] == "check"
								+check(key)
							else if key['keytype'] == "binary"
								+binary(key)
							else if key['keytype'] == "text" || key['keytype'] == "str" || key['keytype'] == "string"
								+text(key)
							else if key['keytype'] == "num"
								+number(key)
							else if key['keytype'] == "multi"
								+multi(key)
							else if key['keytype'] == "widget"
								+widget(key)
					else
						tr.advanced(
							style="display:none"
						)
							if key['keytype'] == "dir"
								+folder(key)
							else if key['keytype'] == "file"
								+file(key)
							else if key['keytype'] == "folder"
								+folder(key)
							else if key['keytype'] == "check"
								+check(key)
							else if key['keytype'] == "binary"
								+binary(key)
							else if key['keytype'] == "text" || key['keytype'] == "str" || key['keytype'] == "string"
								+text(key)
							else if key['keytype'] == "num"
								+number(key)
							else if key['keytype'] == "multi"
								+multi(key)
							else if key['keytype'] == "widget"
								+widget(key)


div.buttons
	div(
		onclick="tasksetup.startTask(this)"
	)="Start"
		
div#taskhelp
	div.gauze
	div.taskhelp
		div.viewheader
			img#simplepagelogo(
				src="img/square_logo_small.png"
			)
			h="Help"
			img#closebutton(
				src="img/close.png"
				onclick="taskselector.hideHelp()"
			)
			div#text
