doctype html
html
	head
		title="SIMPLE"
	body
		div#viewheader
			img#refreshimage(
					src="img/square_logo.png"
					onclick="location.reload()"
			)
			h1#heading=title
			img#back(
				src="img/exit.png"
				onclick="window.location = window.location.origin + '/tutorial?fnc=listTutorials'"
			)


		div.pagediv(
			id="pagediv"
			)
			h3#header=pages[0].title
			iframe.simplediv(
				id="simplepage"
				sandbox="allow-same-origin"
			)
			div#descdiv.descdiv
				pre=pages[0].description
			img#prevbutton.arrow(
				src="img/icon_larrow1_32px.png"
				onclick=""
				style="left:10px"
			)
			
			p.selecttext="Skip to page"
			select.pageselect#pageselect(
				onchange="jumptopage()"
			)
				each page,i in pages
					option(
						value=i
					)=page.title

			img#nextbutton.arrow(
				src="img/icon_rarrow1_32px.png"
				onclick="nextpage()"
				style="right:10px"
			)

style.
	body{
		font-family: Roboto;
		margin: 0px;
		overflow: hidden;
		background-color: white;
	}
	
	img#back {
		float: right;
		margin-top: 25px;
		margin-right: 15px;
		height:20px;
	}

	#heading {
		display: inline-block;
		text-align: left;
		padding-left: 90px;
	}
	
	h3 {
		position: relative;
		left: 30px;
		transition: opacity 0.5s;
	}
	
	p {
		position: absolute;
		bottom: 20px;
		right: calc(50% + 5px);
		margin: 0px;
	}

	#viewheader {
		height: 74px;
		background-color: #f4f4f4;
		color: #58585a;
	}
	
	
	#viewheader #headerimage{
		height: 40px;
		padding-top: 12px;
	}
	
	#viewheader #refreshimage{
		position: absolute;
		left: 5px;
		top: 5px;
	}
	
	div.descdiv {
		height: 80px;
		background-color: #f4f4f4;
		position: relative;
		top: -60px;
		padding: 15px;
		transition: opacity 0.5s;
	}
	
	iframe {
		height: calc(100vh - 250px);
		width: 100%;
		transform: scale(0.8);
		position: relative;
		top: -40px;
		border-style: solid;
		border-color: darkgrey;
		transition: opacity 0.5s;
		opacity: 1;
	}
	
	select.pageselect {
		position: absolute;
		bottom: 18px;
		left: 50%;
		height: 25px;
	}
	
	.arrow {
		position: absolute;
		bottom: 20px;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
			unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
			unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
			unicode-range: U+1F00-1FFF;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
			unicode-range: U+0370-03FF;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
			unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
			unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}


script.
	var pages = !{JSON.stringify(pages)};
	var currentpage = 0;
	document.getElementById("prevbutton").style.opacity = "0.5";
	loadpage();
	
	function nextpage(){
		document.getElementById("prevbutton").style.opacity = "1";
		document.getElementById("prevbutton").onclick = new Function("prevpage()");
		currentpage++;
		document.getElementById("simplepage").style.opacity = "0";
		setTimeout(function() {
			document.getElementById("pageselect").value = currentpage;
			loadpage();
			document.getElementById("simplepage").style.opacity = "1";
		}, 250);
		if(currentpage == (pages.length - 1)) {
			document.getElementById("nextbutton").style.opacity = "0.5";
			document.getElementById("nextbutton").onclick = new Function("");
		} else {
			document.getElementById("nextbutton").style.opacity = "1";
			document.getElementById("nextbutton").onclick = new Function("nextpage()");
		}
	}
	
	function prevpage(){
		document.getElementById("nextbutton").style.opacity = "1";
		document.getElementById("nextbutton").onclick = new Function("nextpage()");
		currentpage--;
		document.getElementById("simplepage").style.opacity = "0";
		setTimeout(function() {
			document.getElementById("pageselect").value = currentpage;
			loadpage();
			document.getElementById("simplepage").style.opacity = "1";
		}, 250);
		if(currentpage == 0) {
			document.getElementById("prevbutton").style.opacity = "0.5";
			document.getElementById("prevbutton").onclick = new Function("");
		} else {
			document.getElementById("prevbutton").style.opacity = "1";
			document.getElementById("prevbutton").onclick = new Function("prevpage()");
		}
	}
	

	function jumptopage() {
		currentpage = document.getElementById("pageselect").value;
		
		document.getElementById("simplepage").style.opacity = "0";
		
		setTimeout(function() {
			loadpage();
			document.getElementById("simplepage").style.opacity = "1";
		}, 250);
		
		if(currentpage == 0) {
			document.getElementById("prevbutton").style.opacity = "0.5";
			document.getElementById("prevbutton").onclick = new Function("");
		} else {
			document.getElementById("prevbutton").style.opacity = "1";
			document.getElementById("prevbutton").onclick = new Function("prevpage()");
		}
		
		if(currentpage == (pages.length - 1)) {
			document.getElementById("nextbutton").style.opacity = "0.5";
			document.getElementById("nextbutton").onclick = new Function("");
		} else {
			document.getElementById("nextbutton").style.opacity = "1";
			document.getElementById("nextbutton").onclick = new Function("nextpage()");
		}
	}

	
	function loadpage(){
		document.getElementById("simplepage").src = 'tutorialdata/' + pages[currentpage].html
		document.getElementById("header").innerHTML = pages[currentpage].title;
		document.getElementById("descdiv").innerHTML = pages[currentpage].description;
		}
