doctype html
html
	head
		title="SIMPLE"
	body
		div#viewheader
			img#refreshimage(
					src="img/square_logo.png"
					onclick="location.reload()"
			)
			h1#heading="SIMPLE Tutorials"

		div
			div.slider
				div.slide1
				div.slide2
				div.slide3
				div.links
					each tutorial in tutorials
						p(
							onclick="window.location = window.location.origin + '/tutorial?fnc=showTutorial&arg=" + tutorial + "'"
						)=tutorial

style.
	body{
		font-family: Roboto;
		margin: 0px;
		overflow: hidden;
		background-color: white;
		height: 100%;
		overflow-y: auto;
		-webkit-app-region: drag; 
	}
	
	#viewheader {
		height: 74px;
		background-color: #f4f4f4;
		color: #58585a;
	}
	
	
	#viewheader #headerimage{
		height: 40px;
		padding-top: 12px;
	}
	
	#viewheader #refreshimage{
		position: absolute;
		left: 5px;
		top: 5px;
	}
	
	#heading {
		text-align: left;
		padding-left: 90px;
		padding-top: 20px;
		margin:0px;
	}
	
	p {
		margin: 10px;
		color: #58585a;
	}

	p:hover{
		color: #981f30;
		text-decoration: underline;
	}

	.links{
		position: absolute;
		z-index: 2;
		width: 600px;
	}
	.slider {
		width: 800px;
		height: 650px;
		margin: 20px auto;
		position: relative;
		z-index: 1;
	}
	.slide1,.slide2,.slide3 {
			position: absolute;
			width: 100%;
			height: 100%;
	}
	.slide1 {
			background: url("img/bgal.png")no-repeat center;
			background-size: cover;
			animation:fade 8s infinite;
			-webkit-animation:fade 8s infinite;
	} 
	.slide2 {
			background: url("img/volume.png")no-repeat center;
			background-size: cover;
			animation:fade2 8s infinite;
			-webkit-animation:fade2 8s infinite;
	}
	.slide3 {
			background: url("img/trpv1.png")no-repeat center;
			background-size: cover;
			animation:fade3 8s infinite;
			-webkit-animation:fade3 8s infinite;
	}
	@keyframes fade
	{
			0%   {opacity:0.3}
			33.333% { opacity: 0}
			66.666% { opacity: 0}
			100% { opacity: 0.3}
	}
	@keyframes fade2
	{
			0%   {opacity:0}
			33.333% { opacity: 0.3}
			66.666% { opacity: 0 }
			100% { opacity: 0}
	}
	@keyframes fade3
	{
			0%   {opacity:0}
			33.333% { opacity: 0}
			66.666% { opacity: 0.3}
			100% { opacity: 0}
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
			unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
			unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
			unicode-range: U+1F00-1FFF;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
			unicode-range: U+0370-03FF;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
			unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
			unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}

	@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
